$carbon--theme--lime--rocket: (
  interactive-01: #c9f95a,
  interactive-02: #222943,
  interactive-03: #017f75,
  interactive-04: #017f75,
  danger-01: #eb474d,
  danger-02: #eb474d,
  ui-background: #f4f4f4,
  ui-01: #ffffff,
  ui-02: #f4f4f4,
  ui-03: #e0e0e0,
  ui-04: #8f8f8f,
  ui-05: #333333,
  text-01: #333333,
  text-02: #525252,
  text-03: #aaaaaa,
  text-04: #ffffff,
  text-05: #666666,
  text-error: #eb474d,
  link-01: #017f75,
  inverse-link: #73b9b3, 
  icon-01: #017f75,
  icon-02: #595959,
  icon-03: #ffffff,
  field-01: #ffffff,
  field-02: #efefef,
  inverse-01: #ffffff,
  inverse-02: #333333,
  support-01: #eb474d,
  support-02: #23b711,
  support-03: #f98821,
  support-04: #379cbf,
  inverse-support-01: #f07579,
  inverse-support-02: #48df35,
  inverse-support-03: #f59944,
  inverse-support-04: #47d0ff,
  overlay-01: rgba(23, 23, 23, 0.5),
  focus: #017f75,
  inverse-focus-ui: #ffffff,
  hover-primary: #dbfb94,
  active-primary: #93ba36,
  hover-primary-text: #222943,
  hover-secondary: #4a5065,
  active-secondary: #111522,
  hover-tertiary: #45a29a,
  active-tertiary: #0d5147,
  hover-ui: #efefef,
  active-ui: #d6d6d6,
  selected-ui: #d6d6d6,
  hover-selected-ui: #d6d6d6,
  hover-danger: #f07579,
  active-danger: #cc2e41,
  hover-row: #e5e5e5,
  visited-link: #5b2e66,
  disabled-01: #f3f3f3,
  disabled-02: #c6c6c6,
  disabled-03: #9e9e9e,
  highlight: #e9fdbd,
  skeleton-01: #e5e5e5,
  skeleton-02: #bebebe,
  brand-01: #025c53,
  brand-02: #333333,
  brand-03: #025c53,
  active-01: #bebebe,
  hover-field: #efefef,
) !default;
